<mat-dialog-content>
    <form [formGroup]="zoneForm" #formGroupDirective="ngForm" class="form-field-full" >
        <mat-form-field class="m-r-8" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" required>
            @if (zoneForm.get('name')?.invalid) {
            <mat-error>This field is required</mat-error>
            }
        </mat-form-field>
        <mat-divider class="m-y-16"></mat-divider>
        <mat-form-field class="m-r-8" appearance="outline">
            <mat-label>Customer</mat-label>
            <mtx-select [items]="customer$ | async" bindLabel="name" bindValue="id"
                        [virtualScroll] = "true" (scrollToEnd)="onScrollEnd()"
                        (search)="onSearch($event)" [loading]="loading"
                        [searchable]="true"
                        formControlName="customerId" (change)="onSelectionChange($event);">
            </mtx-select>
            @if (zoneForm.get('customerId')?.invalid) {
            <mat-error>This field is required</mat-error>
            }
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <button mat-raised-button color="custom-green" (click)="onCloseClick()">Close</button>
            </div>
            <div class="col-md-4">
                <button mat-raised-button color="primary" (click)="onDeleteClick()" *ngIf="saveBtnText === 'Update'">Delete</button>
            </div>
            <div class="col-md-4">
                <button mat-raised-button color="primary" (click)="onSaveClick()">{{saveBtnText}}</button>
            </div>
        </div>
    </div>
</mat-dialog-actions>
