<!-- <page-header class="bg-green-600"></page-header> -->
<div #map id='map' class='map' (click)="getCoordinates($event)">
    <section class="custom-button">
        
        <mat-slide-toggle color="accent" checked="true" disabled="false">
            <strong style="color: black; background-color:white;">SHOW DEVICES</strong>
        </mat-slide-toggle>
        &nbsp;
        <mat-slide-toggle color="accent" checked="false" disabled="false">
            <strong style="color: black; background-color:white;">SHOW AREAS</strong>
        </mat-slide-toggle>
        &nbsp;
        <mat-slide-toggle color="accent" checked="false" disabled="false">
            <strong style="color: black; background-color:white;">SHOW ZONES</strong>
        </mat-slide-toggle>
    </section>
</div>