.mat-mdc-button-base {
  margin: 4px;
}

.card {
  padding: 10px; /* Add some padding inside the card */
  background-color: #24262c ;/* Set the background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px (0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  
}
